.Category__Container {
  margin-top: 3rem;
  height: 60vh;
}

.Category__Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "Batting WicketKeeping Bowling" "Batting Accessories Bowling";
  gap: 2rem;
  margin-left: 15%;
  margin-right: 15%;
}

.Category__Grid div {
  background-color: lightgray;
  text-align: center;
  border-radius: 0.7rem;
}

.Category__Batting {
  grid-area: Batting;
}

.Category__Batting img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.Category__Grid div:hover {
  opacity: 0.8;
}
.Category__Bowling {
  grid-area: Bowling;
}

.Category__Bowling img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.Category__WicketKeeping {
  grid-area: WicketKeeping;
}
.Category__WicketKeeping img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.Category__Accessories {
  grid-area: Accessories;
}
.Category__Accessories img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
h1 {
  text-align: center;
}
