.Navbar__Primary {
  display: flex;
  justify-content: flex-end;
  height: 3rem;
  align-items: center;
}
.Navbar__Primary i {
  padding: 1.5rem;
}

.Navbar__Secondary {
  background-color: black;
  height: 3rem;
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
  align-items: center;

}
.Navbar__Secondary span {
  padding: 1.1rem;
  color: white;
}
.Navbar span {
  padding: 1rem;
}

@media only screen and (max-width: 750px) {
  .Navbar__Secondary span {
    display: none;
  }
}
